.aboutme {
  align-content: space-between;
  height: 100vh;
}
.aboutme__h1 {
  text-align: center;
  padding-top: 50px;
  font-family: $special-one;
  font-size: 50px;
  color: $light-yellow;
}
.aboutme__text {
  margin-top: 40px;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
  color: whitesmoke;
}

.aboutme__title {
  font-family: $special-one;
  color: whitesmoke;
  margin-left: 20px;
}
