.aboutme {
  align-content: space-between;
  height: 100vh;
  @include mobile {
    height: 95vh;
    width: 100vw;
    background-position: center;
  }
  @include tablet {
    height: 100vh;
    width: 100vw;
  }
}
.aboutme__h1 {
  text-align: center;
  padding-top: 50px;
  font-family: $special-one;
  font-size: 50px;
  color: $light-yellow;
}
.aboutme__text {
  margin-top: 40px;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
  color: whitesmoke;
}
.aboutme__button {
  color: $light-yellow;
  background-color: $purple;
  border-radius: 8px;
  border-color: $light-yellow;
}
