.design_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.carteles {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

.cartel_img {
  max-height: 100vh;
}
