.header_container {
  height: 5vh;
  background: $yellow;
}

.header__list__item {
  display: inline;
}

.aboutme {
  background: $purple;
  height: 80vh;
}

.footer_container {
  background: $yellow;
  height: 10vh;
}
.aboutme__links {
  display: flex;
}
