.header_container {
  width: 100vw;
  height: 10vh;
  background: $yellow;
  font-family: $special-two;
  display: flex;
  text-align: center;
  justify-content: center;
}

.header__list__item {
  display: inline;
  color: $purple;
  margin-left: 10px;
  margin-right: 10px;
}
.nav__header {
  padding-top: 30px;
}
.aboutme {
  background: $purple;
  height: 80vh;
}
