.header_container {
  background: $blue;
  height: 10vh;
}

.header__list__item {
  display: inline;
}

.aboutme {
  background: $purple;
  height: 80vh;
}

.footer_container {
  background: $yellow;
  height: 10vh;
}
