.hero_main_container {
  background-image: url(../../images/HeroImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  @include mobile {
    height: 95vh;
    width: 100vw;
    background-position: center;
  }
  @include tablet {
    height: 100vh;
    width: 100vw;
  }
}
