.work_container {
  background-color: $blue;
  align-content: space-between;
  height: 100vh;
  @include mobile {
    height: 95vh;
    width: 100vw;
    background-position: center;
  }
  @include tablet {
    height: 100vh;
    width: 100vw;
  }
}
.work_title {
  text-align: center;
  padding-top: 50px;
  font-family: $special-one;
  font-size: 50px;
  color: $brown;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.work__links {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  background-color: $blue;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}
.work__title {
  font-family: $special-one;
  color: whitesmoke;
  font-size: 25px;
  color: whitesmoke;
  align-content: center;
}
.programacion_img {
  width: 150px;
  border-radius: 25px;
  margin-left: 80px;
  margin-top: 15px;
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
}
.fotografia_img {
  width: 150px;
  border-radius: 25px;
  margin-left: 80px;
  margin-top: 15px;
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
}
.diseño_img {
  width: 150px;
  border-radius: 25px;
  margin-left: 80px;
  margin-top: 15px;
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
}
