@import "core/mixins";
@import "core/variables";
@import "core/reset";

@import "layout/header";
@import "layout/footer";
@import "layout/photography";
@import "layout/design";
@import "layout/contact";
@import "layout/aboutme";
@import "layout/main";
@import "layout/work";
