$blue: #65b3bb;
$purple: #a49ddf;
$yellow: #eac14d;
$pink: #d699b8;
$brown: #7a6e53;
$green: #acd8af;
$light-green: #cce5af;

$special-one: "Zen Tokyo Zoo", cursive;
$special-two: "Otomanopee One", sans-serif;
$special-three: "Fuggles", cursive;
$general: "Fira Sans", sans-serif;
